<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Detalles</h2>
    <div><span> id: </span>{{hero.id | uppercase}}</div>
    <div>
        <label for="hero-name">Heroe Nombre: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <div>
        <label for="hero-edad"> Heroe Edad:  </label>
        <input id="hero-edad" [(ngModel)]="hero.edad" placeholder="edad">
    </div>
    <div>
        <label for="hero-superpoder"> Heroe Superpoder: </label>
        <input id="hero-superpoder" [(ngModel)]="hero.superpoder" placeholder="superpoder">
    </div>
    <div>
        <label for="hero-identidad"> Heroe Identidad: </label>
        <input id="hero-identidad" [(ngModel)]="hero.identidad" placeholder="identidad">
    </div>
    <div>
        <label for="hero-universo">Heroe Universo</label>
        <input id="hero.universo" [(NgModel)]="hero.universo" placeholder="universo">
    </div>
</div>
